@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.products .container {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
}

.advantages .container {
  padding-top: 45px;
  padding-bottom: 97px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .products .container {
    padding: 122px 34px 112px 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .products .container {
    padding: 127px 116px 119px 117px;
  }
}

.main-header {
  text-transform: uppercase;
  color: #D41443;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
}

.main-header--style {
  width: 200px;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
}

.secondary-header {
  text-transform: uppercase;
  color: #FFA5BA;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
}

.secondary-header--style {
  width: 232px;
  font-size: 18px;
  line-height: 1.167;
  margin-bottom: 17px;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.btn {
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.btn--white {
  font-family: "DM Sans", sans-serif;
  color: #D41443;
  background-color: #ffffff;
}

.btn--pink {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  background-color: #D41443;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__list--photo {
  position: relative;
  margin-top: -113px;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
}

.products__item:first-child {
  background: #FFB8CA;
}

.products__item:nth-child(2) {
  background: #F0D1A5;
}

.products__item:last-child {
  background: #C2E297;
}

.products__name {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.133;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 22px;
}

.products__dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.products__dot:hover, .products__dot:focus {
  background-color: #D41443;
}

.products__dot--container {
  text-align: center;
  margin-top: 30px;
  background: transparent;
}

.products__description {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 152%;
  color: #ffffff;
  margin: 30px 41px;
}

.products__btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin-bottom: 41px;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.products__btn:hover, .products__btn:focus {
  border: 1px solid #D41443;
}

@media screen and (max-width: 768px) {
  .products__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .products__label {
    font-size: 18px;
    line-height: 1.167;
  }
  .products__title {
    font-size: 34px;
    line-height: 1.147;
    margin-top: 15px;
    margin-bottom: 144px;
  }
  .products__description {
    margin: 30px 39px 30px 41px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .products__label {
    font-size: 26px;
    line-height: 1.154;
  }
  .products__title {
    font-size: 48px;
    line-height: 1.146;
    margin-top: 15px;
    margin-bottom: 150px;
  }
  .products__item:first-child {
    margin-right: 10px;
  }
  .products__item:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .products__item:last-child {
    margin-left: 10px;
  }
  .products__name {
    margin-top: 30px;
  }
  .products__list--photo {
    margin-top: -111px;
  }
  .products__description {
    margin-bottom: 40px;
  }
  .products__btn {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
    line-height: 1.133;
  }
  .products__title {
    font-size: 58px;
    line-height: 1.138;
    margin-top: 15px;
    margin-bottom: 259px;
  }
  .products__item:first-child {
    margin-right: 15px;
  }
  .products__item:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
  }
  .products__item:last-child {
    margin-left: 15px;
  }
  .products__list--photo {
    margin-top: -210px;
  }
  .products__name {
    margin-top: 38px;
  }
  .products__dot--container {
    margin-top: 32px;
  }
  .products__description {
    margin-bottom: 62px;
  }
  .products__btn {
    margin-bottom: 50px;
  }
}

.advantages {
  background-color: #FFF5F6;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.is-hidden {
  display: none;
}

.advantages__item--data {
  font-family: "Titan One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.139;
  letter-spacing: 0.04em;
  color: #D41443;
}

.advantages__item--description {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.667;
  letter-spacing: 0em;
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .advantages__item--description__item--description :not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .advantages__item--img {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .advantages__item--data {
    padding-bottom: 16px;
  }
}

.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__background {
  margin-left: 29px;
  width: 330px;
  height: 572px;
  left: 115px;
  top: 4056px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__vector {
  height: 0px;
  border: 1px solid #E1E1E1;
  margin-top: 32px;
  margin-left: 43px;
  margin-right: 44px;
}

.contacts__category {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.04em;
  margin-left: 43px;
  margin-top: 51px;
  border-radius: 6px;
}

.contacts__category--cafe {
  width: 73px;
  background-color: #F0D1A5;
}

.contacts__category--foodtruck {
  width: 138px;
  background-color: #C2E297;
}

.contacts__localization {
  margin-left: 43px;
  margin-right: 44px;
}

.contacts__place {
  margin-top: 32px;
  letter-spacing: 0.04em;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
}

.contacts__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #907E82;
}

.contacts__days {
  margin-top: 32px;
  margin-left: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.contacts__hours {
  margin-left: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  color: #FFA5BA;
}

.contacts__communication {
  margin-left: 43px;
  color: #907E82;
  margin-top: 32px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contacts__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__background {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contacts__background {
    width: 220px;
    height: 544px;
    left: 274px;
    top: 3402px;
  }
}

.footer {
  background-color: #FFF5F6;
}

.footer__social-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 100%;
  margin-bottom: 46px;
  width: 32px;
  height: 32px;
}

.footer__contact, .footer__phone {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  text-align: end;
}

.footer__phone {
  color: #D41443;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social-media__item:not(:first-child) {
  margin-right: 28px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEA5BB;
  width: 34px;
  height: 34px;
}

.social-media__link:focus, .social-media__link:hover {
  background-color: #D41443;
}

.social-media__icon {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}

.icon--github {
  padding: 6.59px;
}

.icon--telegram {
  padding: 8.53px 7.47px 8.53px 5.33px;
}

.icon--facebook {
  padding: 6.4px 11.2px 6.4px 12px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E1E1E1;
  padding: 22px 0px 25px 0px;
}

.bottom__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
}

@media screen and (max-width: 768px) {
  .footer .container {
    display: block;
  }
  .footer__left {
    margin-bottom: 43px;
  }
  .social-media, .social-media__icon, .social-media__link {
    width: 32px;
    height: 32px;
  }
  .bottom {
    padding: 22px 0px 25px 0px;
    margin-top: 43px;
  }
  .bottom__text {
    width: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .secondary-header--style {
    width: 340px;
    font-size: 26px;
    letter-spacing: 0.04em;
  }
  .main-header--style {
    width: 340px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  .footer__contact,
  .footer__phone {
    font-size: 14px;
  }
  .bottom {
    padding: 29px 0px 18px 0px;
    margin-top: 91px;
  }
}

@media screen and (min-width: 1280px) {
  .secondary-header--style {
    width: 474px;
    font-size: 30px;
    letter-spacing: 0.04em;
  }
  .main-header--style {
    width: 478px;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
  .footer__contact,
  .footer__phone {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .bottom {
    padding: 9px 0px 10px 0px;
    margin-top: 97px;
  }
}
/*# sourceMappingURL=main.css.map */