.container {
    padding: 0 20px;
    align-items: center;
    margin: 0 auto;

    .products & {
        padding-top: 121px;
        padding-bottom: 98px;
        text-align: center;
    }

    .customer-reviews & {
        padding-bottom: 170px;
        text-align: center;
    }

}

@media (min-width: 768px) and (max-width: 1280px) {

    .container {

        .products & {
            padding: 122px 34px 112px 34px;
        }

        .customer-reviews & {
            padding-bottom: 197px;
        }
    }
}


@media screen and (min-width: 1280px) {
    
    .container {
        max-width: 1280px;

        .products & {
            padding: 127px 116px 119px 117px;
        }

        .customer-reviews & {
            padding-bottom: 234px;
        }
    }
}