/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './utils/variables';

@import "./base/reset";
@import "./base/typography";

@import "./components/main-headers";
@import "./components/icons";
@import "./components/btn";

@import "./layout/products";
@import"./layout/contacts";

// @import './example';