// Font family types
$main-font: 'DM Sans', sans-serif;
$head-font: 'Titan One', sans-serif;

// Basic colors
$black: #000000;
$white: #ffffff;
$gainsboro: #E1E1E1;
$gray: #D9D9D9;
$gray2: #FAFAFA;

// Layout color variatons
$lavender-blush: #FFF5F6;
$light-pink: #FFA5BA;
$light-pink2: #FEA5BB;

$vivid-pink: #D41443;
$vivid-pink2: #D31342;
$crimson: #C7133E;
$shade-pink: #907E82;
$crimson: #c7133e;

$icecream-pink: #FFB8CA;
$icecoffee-brown: #F0D1A5;
$milkshakes-green: #C2E297;

// Shifts
$shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Font weights
$font-weight-400: 400px;
$font-weight-500: 500px;
$font-weight-700: 700px;

// Letter spacing
$letter-spacing-2: .02em;
$letter-spacing-4: .04em;
$letter-spacing-6: .06em;

// Font sizes
$font-size-08: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-34: 34px;
$font-size-48: 48px;
$font-size-58: 58px;

// Line heights
$line-height-10_08: 1.250;
$line-height-12_08: 1.500;
$line-height-18_12: 1.500;
$line-height-18_14: 1.286;
$line-height-19_12: 1.583;
$line-height-20_12: 1.667;
$line-height-20_14: 1.429;
$line-height-21_14: 1.500;
$line-height-21_16: 1.313;
$line-height-21_18: 1.167;
$line-height-22_12: 1.833;
$line-height-23_14: 1.643;
$line-height-23_20: 1.150;
$line-height-24_14: 1.714;
$line-height-25_14: 1.786;
$line-height-25_22: 1.136;
$line-height-26_14: 1.857;
$line-height-27_14: 1.929;
$line-height-28_16: 1.750;
$line-height-29_16: 1.813;
$line-height-30_14: 2.143;
$line-height-30_16: 1.875;
$line-height-30_26: 1.154;
$line-height-31_12: 2.583;
$line-height-32_28: 1.143;
$line-height-34_30: 1.133;
$line-height-37_20: 1.850;
$line-height-39_34: 1.147;
$line-height-41_36: 1.139;
$line-height-44_38: 1.158;
$line-height-53_46: 1.152;
$line-height-55_48: 1.146;
$line-height-66_58: 1.138;