<section id="how" class="about">
    <div class="container about__bg__img">
        <div class="about__headline">
            <p class="about__headline__slogan">tradition and love</p>
            <h1 class="about__headline__main">how it's made?</h1>
        </div>
        <div class="about__img__and__text">
            <div class="about__cow__img">
                <picture class="about__list--photo">
                    <source srcset="" media="(min-width: 1280px)" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(min-width: 480px)" />
                    <img class="about__list--photo" src="" alt="cow" />
                </picture>
            </div>
            <div class="about__description">
                <p class="about__description__one">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                    lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__description__two">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
                    in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
                    maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__description__three">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__btn">
                    Read more <img class="about__btn__arrow" src="" alt="read-more" />
                </button>
            </div>
        </div>
    </div>
</section>