<section id="about" class="advantages">
    <div class="container">
        <h2 class="is-hidden">advantages</h2>
        <ul class="advantages__list">
            <li class="advatages__item">
                <picture>
                    <source srcset="images/shakeicon-mobile.png 1x, images/shakeicon-mobile@2x.png 2x"
                        media="(min-width: 320px)" />
                    <img class="advantages__item--img" src="images/shakeicon-mobile.png" alt="icon-one" >
                </picture>
                <p class="advantages__item--data">721</p>
                <p class="advantages__item--description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advatages__item">
                <picture>
                    <source srcset="images/icecream-mobile.png 1x, images/icecream-mobile@2x.png 2x"
                        media="(min-width: 320px)" />
                    <img class="advantages__item--img" src="images/icecream-mobile.png" alt="icon-two" />
                </picture>
                <p class="advantages__item--data">16kg</p>
                <p class="advantages__item--description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advatages__item">
                <picture>
                <source srcset="images/hearticon-mobile.png 1x, images/hearticon-mobile@2x.png 2x"
                    media="(min-width: 320px)" />
                <img class="advantages__item--img" src="images/hearticon-mobile.png" alt="icon-three" />
                </picture>
                
                <p class="advantages__item--data">84</p>
                <p class="advantages__item--description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>