<section id="contacts" class="contacts">
    <div class="container">
        <div class="contacts__flex">
            <div class="contacts__background">
                <div class="contacts__category contacts__category--cafe">CAFE</div>
                <div class="contacts__localization">
                    <div class="contacts__place">Chicago</div>
                    <div class="contacts__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </div>
                </div>
                <div class="contacts__vector"></div>
                <div class="contacts__work__shedule">
                    <div class="contacts__days">Monday - Friday</div>
                    <div class="contacts__hours">06:00 AM - 10:00 PM</div>
                    <div class="contacts__days">Saturday - Sunday</div>
                    <div class="contacts__hours">08:00 AM - 16:00 PM</div>
                </div>
                <div class="contacts__vector"></div>
                <div class="contacts__communication">
                    <div>
                        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </div>
                    <div>
                        <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="contacts__background">
                <div class="contacts__category contacts__category--foodtruck">FOOD TRUCK</div>
                <div class="contacts__localization">
                    <div class="contacts__place">Los Angeles</div>
                    <div class="contacts__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </div>
                </div>
                <div class="contacts__vector"></div>
                <div class="contacts__work__shedule">
                    <div class="contacts__days">Monday - Friday</div>
                    <div class="contacts__hours">06:00 AM - 10:00 PM</div>
                    <div class="contacts__days">Saturday - Sunday</div>
                    <div class="contacts__hours">08:00 AM - 16:00 PM</div>
                </div>
                <div class="contacts__vector"></div>
                <div class="contacts__communication">
                    <div>
                        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </div>
                    <div>
                        <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="contacts__background">
                <div class="contacts__category contacts__category--cafe">CAFE</div>
                <div class="contacts__localization">
                    <div class="contacts__place">New York</div>
                    <div class="contacts__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </div>
                </div>
                <div class="contacts__vector"></div>
                <div class="contacts__work__shedule">
                    <div class="contacts__days">Monday - Friday</div>
                    <div class="contacts__hours">06:00 AM - 10:00 PM</div>
                    <div class="contacts__days">Saturday - Sunday</div>
                    <div class="contacts__hours">08:00 AM - 16:00 PM</div>
                    <div class="contacts__vector"></div>
                </div>
                <div class="contacts__communication">
                    <div>
                        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </div>
                    <div>
                        <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__buttons">
            <button class="btn--pink contacts__btn" data-modal-open3>
                Our Locations &GT;
            </button>
            <button class="btn--white contacts__btn--rev" data-modal-open4>
                Franchise &GT;
            </button>
        </div>
    </div>
</section>