<section class="customer-reviews">
  <div class="slideshow-container">
    <div class="customer__slideshow">
      <img
        class="customer__img"
        src="./images/customer1.png"
        srcset="./images/customer1@2x.png 2x"
        alt="person__one"
      />
      <div class="customer__quote--container">
        <svg class="customer__quote--icon icon">
          <use href="./images/symbol-defs.svg#icon-quote_mobile"></use>
        </svg>
        <span class="customer__quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </span>
      </div>

      <div class="customer__dot--container">
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
      </div>
      <p class="customer__name">Emily, Los Angeles</p>
    </div>
    <div class="customer__slideshow">
      <img
        class="customer__img"
        src="./images/customer2.png"
        srcset="./images/customer2@2x.png 2x"
        alt="person__one"
      />
      <div class="customer__quote--container">
        <svg class="customer__quote--icon icon">
          <use href="./images/symbol-defs.svg#icon-quote_mobile"></use>
        </svg>
        <span class="customer__quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </span>
      </div>

      <div class="customer__dot--container">
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
      </div>
      <p class="customer__name">Olivia, San Fransisco</p>
    </div>
    <div class="customer__slideshow">
      <img
        class="customer__img"
        src="./images/customer3.png"
        srcset="./images/customer3@2x.png 2x"
        alt="person__one"
      />
      <div class="customer__quote--container">
        <svg class="customer__quote--icon icon">
          <use href="./images/symbol-defs.svg#icon-quote_mobile"></use>
        </svg>
        <span class="customer__quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </span>
      </div>

      <div class="customer__dot--container">
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
        <span class="customer__dot"></span>
      </div>
      <p class="customer__name">Charlotte, New York</p>
    </div>
  </div>

  <div class="customer-reviews__dot--container">
    <span class="customer-reviews__dot" onclick="currentSlide(1)"></span>
    <span class="customer-reviews__dot" onclick="currentSlide(2)"></span>
    <span class="customer-reviews__dot" onclick="currentSlide(3)"></span>
  </div>
</section>
<script src="./js/customer.js"></script>
