<section class="customer__reviews">
    <div class="container">
        <div class="slideshow__container">
            <div class="slides">
                <img class="slide__img" src="" alt="person__one" />
                <div class="customer__container">
                    <div class="customer__content">
                        <div class="customer__text">
                            <img class="quotes" src="" alt="quote" />
                            <span>
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </span>
                        </div>
                    </div>
                </div>
                
                <!--tutaj są te trzy kropki, można zrobić tak albo jako pseudoelementy-->
                <!-- <div class="dots">
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                </div> -->
                
                <div class="customer">Emily, Los Angeles</div>
            </div>

            <div class="slides">
                <img class="slide__img" src="" alt="person__two" />
                <div class="customer__container">
                    <div class="customer__content">
                        <div class="customer__text">
                            <img class="quotes" src="" alt="quote" />
                            <span>
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- <div class="dots">
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                </div> -->

                <div class="customer">Emily, Los Angeles</div>
            </div>

            <div class="slides">
                <img class="slide__img" src="" alt="person__three" />
                <div class="customer__container">
                    <div class="customer__content">
                        <div class="customer__text">
                            <img class="quotes" src="" alt="quote" />
                            <span>
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- <div class="dots">
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                    <img src="" alt="dots" />
                </div> -->

                <div class="customer">Emily, Los Angeles</div>
            </div>
        </div>  
    </div>
</section>
