<section class="footer">
  <div class="container">
    <div class="footer__flex">
      <div class="footer__headline">
        <div class="footer__subheadline__one">homemade ice cream made</div>
        <div class="footer__subheadline__two">with passion</div>
      </div>
      <div class="footer__flex__links">
        <ul class="list">
          <li class="social-media__item">
            <a class="social-media__link icon--github" target="_blank" href="https://www.github.com">
              <svg  class="social-media__icon">
                  <use href="images/symbol-defs.svg#icon-github_mobile"></use>
            </svg>
            </a>
          </li>
          <li class="social-media__item">
            <a class="social-media__link icon--telegram" target="_blank" href="https://telegram.org">
              <svg  class="social-media__icon">
                  <use href="images/symbol-defs.svg#icon-telegram_mobile"></use>
            </svg>
            </a>
          </li>
          <li class="social-media__item">
            <a class="social-media__link icon--facebook" target="_blank" href="https://www.facebook.com">
              <svg class="social-media__icon">
                  <use href="images/symbol-defs.svg#icon-facebook_mobile"></use>
            </svg>
            </a>
          </li>
        </ul>

        <!-- <div class="footer__links">
          <a class="footer__links__background" target="_blank" href="https://www.github.com">
            <svg class="footer__links__icon__one" viewBox="0 0 32 32">
              <use class="footer__links__svg" href="" width="34" height="34"></use>
            </svg>
          </a>
          <a class="footer__links__background" target="_blank" href="https://telegram.org">
            <svg class="footer__links__icon__two" viewBox="0 0 44 32">
              <use class="footer__links__svg" href="" width="34" height="34"></use>
            </svg>
          </a>
          <a class="footer__links__background" target="_blank" href="https://www.facebook.com">
            <svg class="footer__links__icon__three" viewBox="0 0 16 32">
              <use class="footer__links__svg" href="" width="34" height="34"></use>
            </svg>
          </a>
        </div> -->
        
        <div class="footer__contact container">
          Feel free to contact&nbsp;
          <a class="footer__phone" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__rights">
    <div class="footer__rights__one">© 2019 - IceCream.</div>
    <div class="footer__rights__two">All Rights Reserved.</div>
  </div>
</section>
