<section class="footer">
  <div class="container">
    <div class="footer__left">
      <p class="secondary-header secondary-header--style">homemade ice cream made</p>
      <p class="main-header main-header--style">with passion</p>
    </div>
    <div class="footer__right">
      <ul class="footer__social-media list">
        <li class="social-media__item">
          <a
            class="social-media__link icon--facebook"
            target="_blank"
            href="https://www.facebook.com"
          >
            <svg class="social-media__icon">
              <use href="images/symbol-defs.svg#icon-facebook_mobile"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link icon--telegram" target="_blank" href="https://telegram.org">
            <svg class="social-media__icon">
              <use href="images/symbol-defs.svg#icon-telegram_mobile"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link icon--github" target="_blank" href="https://www.github.com">
            <svg class="social-media__icon">
              <use href="images/symbol-defs.svg#icon-github_mobile"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__contact">
        Feel free to contact&nbsp;
        <a class="footer__phone" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p class="bottom__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</section>
