<section class="gallery">
    <div class="container">
        <picture class="gallery__img">
            <source srcset="images/gallery-desktop.png" media="(min-width: 1280px)" />
            <source srcset="images/gallery-desktop@2x.png 2x" media="(min-width: 1280px)" />
            <source srcset="images/gallery-tablet.png" media="(min-width: 768px)" />
            <source srcset="images/gallery-tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="images/gallery-mobile.png" media="(min-width: 480px)" />
            <source srcset="images/gallery-mobile@2x.png 2x" media="(min-width: 480px)" />
            <img class="gallery__img" src="images/gallery-desktop.png" alt="photos gallery" />
        </picture>
    </div>
</section>