<header class="header">
    <div class="container header__content">
        <a class="nav__logo" href="index.html">
            <img src="" alt="ice-cream-logo" />
        </a>
        <a href="" class="hamburger__lines hide-for-desktop">
            <span class="line line__one"></span>
            <span class="line line__two"></span>
            <span class="line line__three"></span>
        </a>
        <div class="navigation__desktop hide-for-tablet">
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a class="navigation__link navigation__link--active" href="">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#about">About us</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#how">How it’s made?</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#products">Our products</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#contacts">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="button__buy hide-for-mobile">
            Buy now
            <img src="" alt="arrow-right" />
        </button>

        <div class="navigation__mobile is-hidden--menu">
            <nav class="nav">
                <button class="button__buy">
                    Buy now
                    <img src="" alt="arrow-right" />
                </button>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a class="navigation__link navigation__link--active" href="index.html">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#about">About us</a>
                    </li>
                    <li class="nav__item">
                        <a class="navigation__link" href="#how">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a class="navigation__link" href="#products">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a class="navigation__link" href="#contacts">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>