<section class="hero">
    <div class="container hero__content">
        <div class="hero__title">
            <div class="title__content__main">
                <h1 class="hero__title">
                    <span class="hero__title--small">ice cream made with</span> passion
                </h1>
                <div class="hero__buttons">
                    <button class="hero__btn hero__btn--products" type="button">
                        <a href="#products">Products</a>
                    </button>
                    <button class="hero__btn hero__btn--about" type="button">
                        <a href="#how">How it's made?</a>
                    </button>
                </div>
            </div>
            <div class="title__content__shops hide-for-tablet">
                <div class="title__content__shops__cafes">
                    <img src="" alt="white-circle" />
                    <span>16</span>
                    cafes
                </div>
                <div class="title__content__shops__foodTrucks">
                    <img src="" alt="white-circle" />
                    <span>23</span>
                    food trucks
                </div>
            </div>
        </div>
        <div class="hero__description hide-for-tablet">
            <div class="hero__description__bioeco">
                <img class="bioeco__milk" src="" alt="jar-with-milk" />
                <div class="bioeco__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et
                    <button class="bioeco__description__btn">
                        <!--nie jestem pewna, że to powinno być tak:)-->
                        <picture>
                            <source srcset="" media="(min-width: 1280px)" />
                            <source srcset="" media="(min-width: 768px)" />
                            <source srcset="" media="(min-width: 480px)" />
                            <img src="" alt="read-more-button" />
                        </picture>
                    </button>
                </div>
            </div>
        </div>
        <img class="hero__circle" src="" alt="big-pink-circle" />

        <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 480px)" />
            <img class="hero__ice-cream" src="" alt="big-ice-cream" />
        </picture>
        <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 480px)" />
            <img class="hero__tasty hide-for-mobile" src="" alt="girl-with-ice-cream" />
        </picture>
    </div>
</section>