<header class="header">
    <div class="container header__content">
        <a class="navigation__logo" href="index.html">
            <img src="images/hero_header/main-logo.svg" alt="ice-cream-logo" />
        </a>
        <a id="menuHamburger" href="javascript:void(0)" class="hamburger__lines hide-for-desktop">
            <span class="line line__one"></span>
            <span class="line line__two"></span>
            <span class="line line__three"></span>
        </a>
        <div class="navigation__desktop hide-for-tablet">
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a class="navigation__link navigation__link--active" href="">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#about">About us</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#how">How it’s made?</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#products">Our products</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#contacts">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="button__buy hide-for-mobile" data-modal-open2>
            Buy now
            <img src="images/hero_header/buy-now.png" alt="arrow-right" />
        </button>

        <div class="navigation__mobile is-hidden--menu">
            <nav class="navigation">
                <button class="button__buy" data-modal-open>
                    Buy now
                    <img src="images/hero_header/buy-now.png" alt="arrow-right" />
                </button>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a class="navigation__link navigation__link--active" href="index.html">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a id="navAbout" class="navigation__link" href="#about">About us</a>
                    </li>
                    <li class="navigation__item">
                        <a id="navHow" class="navigation__link" href="#how">How it’s made?</a>
                    </li>
                    <li class="navigation__item">
                        <a id="navProducts" class="navigation__link" href="#products">Our products</a>
                    </li>
                    <li class="navigation__item">
                        <a id="navContact" class="navigation__link" href="#contacts">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<section class="hero">
    <div class="container hero__content">
        <div class="hero__title">
            <div class="title__content__main">
                <h1 class="hero__title">
                    <span class="hero__title--small">ice cream made with</span> passion
                </h1>
                <div class="hero__buttons">
                    <button class="hero__btn hero__btn--products" type="button">
                        <a href="#products">Products</a>
                    </button>
                    <button class="hero__btn hero__btn--about" type="button">
                        <a href="#how">How it's made?</a>
                    </button>
                </div>
            </div>
            <div class="title__content__shops hide-for-tablet">
                <div class="title__content__shops__cafes">
                    <img src="images/hero_header/white-circle.png" alt="white-circle" />
                    <span class="title__content__shops__cafes__nr">16</span>
                    cafes
                </div>
                <div class="title__content__shops__foodTrucks">
                    <img src="images/hero_header/white-circle.png" alt="white-circle" />
                    <span class="title__content__shops__foodTrucks__nr">23</span>
                    food trucks
                </div>
            </div>
        </div>
        <div class="hero__description hide-for-tablet">
            <div class="hero__description__bioeco">
                <img class="bioeco__milk" src="images/hero_header/milk-desktop.png" alt="jar-with-milk" />
                <div class="bioeco__description">
                    <span class="bioeco__description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                    <button class="bioeco__description__btn">
                        <!--nie jestem pewna, że to powinno być tak:)-->
                        <picture>
                            <source srcset="images/arrow-right.png 1x" media="(min-width: 1280px)" width="26" height="26"/>
                            <source srcset="images/arrow-right-tablet.png 1x" media="(min-width: 768px)" width="18" height="18" />
                            <source srcset="images/arrow-right-tablet.png 1x" media="(min-width: 480px)" />
                            <img src="images/arrow-right.png" alt="read-more-button" />
                        </picture>
                    </button>
                </div>
            </div>
        </div>
        <img class="hero__circle" src="images/hero_header/pink-cirkle.png" alt="big-pink-circle" />

        <picture>
            <source srcset="images/hero_header/ice-desktop.png 1x" media="(min-width: 1280px)" />
            <source srcset="images/hero_header/ice-tablet.png 1x" media="(min-width: 768px)" />
            <source srcset="images/hero_header/ice-mobile.png 1x" media="(min-width: 480px)" />
            <img class="hero__ice-cream" src="images/hero_header/ice-desktop.png" alt="big-ice-cream" />
        </picture>
        <picture>
            <source srcset="images/hero_header/girl-desktop.png 1x" media="(min-width: 1280px)" />
            <source srcset="images/hero_header/girl-tablet.png 1x" media="(min-width: 768px)" />
            <source srcset="images/hero_header/girl-tablet.png 1x" media="(min-width: 480px)" />
            <img class="hero__tasty hide-for-mobile" src="images/hero_header/girl-desktop.png" alt="girl-with-ice-cream" />
        </picture>
    </div>
</section>