<div class="backdrop is-hidden--readMore" data-modal-readMore>
    <div class="modal__readMore">
        <form action="" class="modal__readMore__form">
            <div class="modal__readMore__container">

                <div class="modal__readMore__container__left">
                    <img class="modal__readMore__container__left__img" src="images/products/ice-cream-desktop.png" alt="ice-cream" />
                    <img class="modal__readMore__container__left__img" src="images/products/ice-coffee-desktop.png" alt="ice-coffee" />
                    <img class="modal__readMore__container__left__img" src="images/products/milkshake-desktop.png" alt="milkshake" />
                </div>

                <div class="modal__readMore__container__right">
                    <h3 class="modal__readMore__title">Ice Cream</h3>
                    <div class="modal__readMore__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis
                        iure
                        inventore autem deserunt quia. Deleniti
                        possimus explicabo nisi odio minima.</div>

                    <div class="modal__readMore__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                        impedit, dolor
                        perferendis officiis inventore aliquam praesentium,
                        quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam
                        perferendis
                        nisi
                        laudantium
                        accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                    <div class="modal__readMore__paragraf__three">Dolorum enim quia, error praesentium cupiditate
                        obcaecati
                        aliquid ullam
                        perferendis nisi laudantium
                        accusantium iste quo.</div>


                    <h3 class="modal__readMore__title">Ice Coffee</h3>
                    <div class="modal__readMore__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis
                        iure
                        inventore autem deserunt quia. Deleniti
                        possimus explicabo nisi odio minima.</div>

                    <div class="modal__readMore__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                        impedit, dolor
                        perferendis officiis inventore aliquam praesentium,
                        quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam
                        perferendis
                        nisi
                        laudantium
                        accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                    <div class="modal__readMore__paragraf__three">Dolorum enim quia, error praesentium cupiditate
                        obcaecati
                        aliquid ullam
                        perferendis nisi laudantium
                        accusantium iste quo.</div>

                    <h3 class="modal__readMore__title">Milkshakes</h3>
                    <div class="modal__readMore__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis
                        iure
                        inventore autem deserunt quia. Deleniti
                        possimus explicabo nisi odio minima.</div>

                    <div class="modal__readMore__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                        impedit, dolor
                        perferendis officiis inventore aliquam praesentium,
                        quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam
                        perferendis
                        nisi
                        laudantium
                        accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                    <div class="modal__readMore__paragraf__three">Dolorum enim quia, error praesentium cupiditate
                        obcaecati
                        aliquid ullam
                        perferendis nisi laudantium
                        accusantium iste quo.</div>
                </div>
            </div>
        </form>

        <button class="modal__readMore__btn__close" data-modal-close2>
            <svg class="" width="11" height="11">
                <use href="images/symbol-defs.svg#close" width="11" height="11"></use>
            </svg>
        </button>
    </div>

</div>