<div class="backdrop is-hidden--readMore" data-modal-readMore>
    <div class="readMore__modal readMore__modal__bg-img">
        <form action="" class="readMore__modal__form">
            <div class="readMore__modal__container">
                <h3 class="readMore__modal__title">Ice Cream</h3>

                <div class="readMore__modal__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perspiciatis
                    iure
                    inventore autem deserunt quia. Deleniti
                    possimus explicabo nisi odio minima.</div>

                <div class="readMore__modal__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                    impedit, dolor
                    perferendis officiis inventore aliquam praesentium,
                    quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam perferendis
                    nisi
                    laudantium
                    accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                <div class="readMore__modal__paragraf__two">Dolorum enim quia, error praesentium cupiditate obcaecati
                    aliquid ullam
                    perferendis nisi laudantium
                    accusantium iste quo.</div>


                <h3 class="readMore__modal__headline">Ice Coffee</h3>

                <div class="readMore__modal__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perspiciatis
                    iure
                    inventore autem deserunt quia. Deleniti
                    possimus explicabo nisi odio minima.</div>

                <div class="readMore__modal__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                    impedit, dolor
                    perferendis officiis inventore aliquam praesentium,
                    quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam perferendis
                    nisi
                    laudantium
                    accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                <div class="readMore__modal__paragraf__two">Dolorum enim quia, error praesentium cupiditate obcaecati
                    aliquid ullam
                    perferendis nisi laudantium
                    accusantium iste quo.</div>

                <h3 class="readMore__modal__headline">Milkshakes</h3>

                <div class="readMore__modal__paragraf__one">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perspiciatis
                    iure
                    inventore autem deserunt quia. Deleniti
                    possimus explicabo nisi odio minima.</div>

                <div class="readMore__modal__paragraf__two">Nemo porro quisquam natus adipisci deleniti ipsa rem
                    impedit, dolor
                    perferendis officiis inventore aliquam praesentium,
                    quia voluptates. Dolorum enim quia, error praesentium cupiditate obcaecati aliquid ullam perferendis
                    nisi
                    laudantium
                    accusantium iste quo. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                <div class="readMore__modal__paragraf__two">Dolorum enim quia, error praesentium cupiditate obcaecati
                    aliquid ullam
                    perferendis nisi laudantium
                    accusantium iste quo.</div>
            </div>
        </form>

        <button class="readMore__modal__btn__close" data-modal-close2>
            <svg class="" width="11" height="11">
                <use href="images/symbol-defs.svg#close" width="11" height="11"></use>
            </svg>
        </button>
    </div>
</div>