<section class="products">
  <div class="container">
    <h2 class="secondary__headline"><span class="products__about">100% natural </span>products</h2>
    <ul class="products__list">
      <li class="products__item list">
        <picture class="products__list--photo">
          <source srcset="" media="(min-width: 1280px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 480px)" />
          <img class="products__img" src="" alt="ice-cream-photo" />
        </picture>
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <img class="icon__arrow" src="" alt="right-arrow-icon" width="40" height="40" />
        </button>
      </li>
      <li class="products__item list">
        <picture class="products__list--photo">
          <source srcset="" media="(min-width: 1280px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 480px)" />
          <img class="products__img" src="" alt="ice-coffee-photo" />
        </picture>
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <img class="icon__arrow" src="" alt="right-arrow-icon" width="40" height="40" />
        </button>
      </li>
      <li class="products__item list">
        <picture class="products__list--photo">
          <source srcset="" media="(min-width: 1280px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 480px)" />
          <img class="products__img" src="" alt="milkshake-photo" />
        </picture>
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <img class="icon__arrow" src="" alt="right-arrow-icon" width="40" height="40" />
        </button>
      </li>
    </ul>
  </div>
</section>
