.main-header {
    text-transform: uppercase;
    color: $vivid-pink;
    font-family: $head-font;
    font-weight: 400;
}

.secondary-header {
    text-transform: uppercase;
    color: $light-pink;
    font-family: $head-font;
    font-weight: 400;
}