.advantages{
background-color:$lavender-blush;
}

.advantages__list {
    display: flex;
    list-style: none;  
    
    
}
.is-hidden {
    display: none;
}

.advantages__item--data {
    font-family: $head-font;
    font-weight: 400;
    letter-spacing: $letter-spacing-4;
    color: $vivid-pink;
    
}
 .advantages__item--description {
    font-family: $main-font;
    font-weight:700;
    color: $black;
    
 }


@media screen and (max-width: 767px) {
    .advantages__list{
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 59px
    }
    .advantages__item--description {
        margin-bottom: 38px;
        font-size: $font-size-12;
        line-height: $line-height-20_12;
        letter-spacing: 0em;
        }

    .advantages__item--data {
        font-size: 36px;
        line-height: $line-height-41_36;
        padding-bottom: 16px;
        
    }
    .advantages__item--img {
        margin-bottom: 16px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
    .advantages__list {
            padding-left: 36px;
            padding-top: 66px;
            padding-bottom: 140px;
   
            & :not(last-child) {
                padding-right: 60px;
            }
        }
 
        .advantages__item--img {
                margin-bottom: 36px;
        
            }
 
        .advantages__item--data {
            font-size: 48px;
            line-height: $line-height-55_48;
            margin-bottom: 13px;
            
        }

        .advantages__item--description {
        font-size: $font-size-14;
        line-height: $line-height-24_14;
        letter-spacing: 0em;
    
    }
}
@media screen and (min-width: 1280px) {
    .advantages__list {
        padding-left: 115px;
        padding-top: 39px;
        padding-bottom: 139px;
 
    & :not(last-child) {
            padding-right: 30px;
        }
    }

    .advantages__item--img {
            margin-bottom: 40px;
        }
   
    .advantages__item--data {
            font-size: 58px;
            line-height: $line-height-66_58;
            margin-bottom: 15px;
           
        }

     .advantages__item--description {
        font-size: $font-size-16;
        line-height: $line-height-28_16;
        letter-spacing: 0.02em;
       
     }
 }
