.contacts__flex{
    display: flex;
    
}
.contacts__background{
    margin-left: 29px;
    width: 330px;
    height: 572px;
    left: 115px;
    top: 4056px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.contacts__vector{
    height: 0px;
    border: 1px solid #E1E1E1;
    margin-top: 32px;
    margin-left: 43px;
    margin-right: 44px;
}
.contacts__category{
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.04em;
    margin-left: 43px;
    margin-top: 51px;
    border-radius: 6px;
   
    &--cafe{
        background-color: #F0D1A5;
        margin-right: 214px;
    }
    &--foodtruck{
        background-color: #C2E297;
        margin-right: 149px;
    }
}
.contacts__localization{
    margin-left: 43px;
    margin-right: 44px;
}
.contacts__place{
    margin-top: 32px;
    letter-spacing: 0.04em;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
}

.contacts__description{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #907E82;
}
.contacts__days{
    margin-top: 32px;
    margin-left: 43px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
}
.contacts__hours{
    margin-left: 43px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #FFA5BA;
}
.contacts__communication{
    margin-left: 43px;
    color: #907E82;
    margin-top: 32px;
}