.customer {

    &__slideshow {
        display: none;
        text-align: center;
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 29px;
    }

    &__quote {
        font-family: $main-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 2.55;
        text-align: center;
        quotes: "“";
        

        &::before {
            color: $gainsboro;
            content: open-quote;
            transform: rotate(-180deg);
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 54px;
            font-weight: bold;
            line-height: 120px;
            left: 61px;
            top: 28px;
            position: absolute;
            width: 54px;
            height: 40px;
            z-index: -1;
        }

        &--container {
            position: relative;
            background-color: $gray2;
            z-index: -2;
        }

        &--icon {
            position: absolute;
            width: 54px;
            height: 40px;
            color: $gainsboro;
            z-index: -1;
            top: 28px;
            left: 61px
        }
    }



    &__dot {
        height: 4px;
        width: 4px;
        margin: 0 5px;
        background-color: $crimson;
        border-radius: 50%;
        display: inline-block;

        &--container {
            text-align: center;
            margin-top: 30px;
            background: transparent;
        }
    }

    &__name {
        font-family: $main-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        margin-top: 18px;
    }

    &-reviews__icon {
        box-sizing: border-box;
        fill: $vivid-pink2;
        width: 12.4px;
        height: 12px;
        display: none;
        transition: all 0.6s ease;
    }

    &-reviews__dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 9px;
        background-color: $gray;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.6s ease;
        

        &:hover,
        &:focus,
        .active-dot {
            background-color: transparent;

            .customer-reviews__icon{
                display: block;
            }
        }

        &--container {
            text-align: center;
            margin-top: 30px;
            background: transparent;
            font-size: 12px;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {

    .customer {
    
        &__quote {
            &--container {
                padding: 40px 50px 20px;
            }
        }
    }
}



@media (min-width: 768px) and (max-width: 1280px) {

    .customer {
    
        &__quote {
            &--container {
                padding: 46px 36px 28px 60px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {

    .customer {

        &__quote {
            &--container {
                padding: 45px 54px 32px 59px;
            }
        }
    }
}