.footer {
    background-color: $lavender-blush;

    &__social-media {
        display: inline-flex;
        flex-direction: row-reverse;
        padding-left: 100%;
        margin-bottom: 46px;
        width: 32px;
        height: 32px;
    }

    &__contact,
    &__phone {
        font-weight: 700;
        font-size: 12px;
        line-height: 1.833;
        text-align: end;
    }

    &__phone {
        color: $vivid-pink;
    }
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social-media__item {

    &:not(:first-child) {
        margin-right: 28px;
    }
}

.social-media__link {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $light-pink2;
    width: 34px;
    height: 34px;

    &:focus,
    &:hover{
        background-color: $vivid-pink;
    }
}

.social-media__icon {
    fill: $white;
    width: 34px;
    height: 34px;
}

.icon--github {
    padding: 6.59px;
}

.icon--telegram {
    padding: 8.53px 7.47px 8.53px 5.33px;
}

.icon--facebook {
    padding: 6.4px 11.2px 6.4px 12px;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E1E1E1;
    padding: 22px 0px 25px 0px;

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #907E82;
    }
}

@media screen and (max-width: 768px) {
    
    .footer .container {
        display: block;
    }

    .footer__left {
            margin-bottom: 43px;
        }

    .social-media, .social-media__icon, .social-media__link {
        width: 32px;
        height: 32px;
    }

    .bottom {
        padding: 22px 0px 25px 0px;
        margin-top: 43px;

        &__text {
            width: 150px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

    .secondary-header--style {
        width: 340px;
        font-size: 26px;
        letter-spacing: 0.04em;
    }

    .main-header--style {
        width: 340px;
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    .footer__contact,
    .footer__phone {
        font-size: 14px;
    }
        
    .bottom {
        padding: 29px 0px 18px 0px;
        margin-top: 91px;
    }
}

@media screen and (min-width: 1280px) {

    .secondary-header--style {
        width: 474px;
        font-size: 30px;
        letter-spacing: 0.04em;
    }

    .main-header--style {
        width: 478px;
        font-size: 58px;
        letter-spacing: 0.06em;
    }

    .footer__contact,
    .footer__phone {
        font-size: 16px;
        letter-spacing: 0.02em;
    }

    .bottom {
        padding: 9px 0px 10px 0px;
        margin-top: 97px;
    }

}