.gallery__img {
    margin: 0 auto;
    height: auto;
    width: 100%;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .gallery__img {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .gallery__img {
        margin-bottom: 121px;
    }
}

@media screen and (min-width: 1250px) {
    .gallery__img {
        margin-bottom: 123px;
    }
}