.gallery {
background-image: linear-gradient(to bottom,
         #FFF5F6 0%,
         #FFF5F6 40%,
         white 40%,
         white 100%,
         );
    
    &__img {
    margin: 0 auto;
    height: auto;
    width: 100%; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    &__img {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    &__img {
        margin-bottom: 121px;
    }
}

@media screen and (min-width: 1250px) {
    &__img {
        margin-bottom: 123px;
    }
}}