.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 90;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 6px;
  }


}

.open {
  .hamburger__lines {
    position: fixed;
    top: 23px;
    right: 28px;
    margin-right: 0;
    .line {
      background: #ffffff;
    }
    > span:first-child {
      transform: rotate(45deg);
    }
    > span:nth-child(2) {
      opacity: 0;
    }
    > span:last-child {
      transform: rotate(-45deg);
    }
  }
}

.hamburger__lines {
  display: block;
  height: 21px;
  min-width: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  margin-right: 20px;
  transition: transform 250ms ease-in-out;

  .line {
    display: block;
    height: 3px;
    width: 108%;
    border-radius: 10px;
    transform-origin: 3px 1px;
    margin-bottom: 3px;
    background: $vivid-pink;
  }

  .line__one {
    transform-origin: 4% 213%;
    transition: transform 250ms ease, background 250ms ease;
  }

  .line__two {
    transition: transform 250ms ease, background 250ms ease;
  }

  .line__three {
    transform-origin: 23% -33%;
    transition: transform 250ms ease, background 250ms ease;
  }
}

.hamburgerOpen {
  position: fixed;
  right: 15px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &--menu {
    transform: translateY(-100%);
  }
}

.navigation__mobile {
  position: fixed;
  background-color: #E17992;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 250ms ease;
  overflow-y: auto;
  z-index: 99;

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    gap: 19px;
    height: 100%;
    overflow: auto;

    .button__buy {
      gap: 28px;
      padding: 13px 55px;
      margin-left: 120px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0;
      width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: left;
      padding: 11px 0 11px 21px;
      border-bottom: 1px solid #e18298;
      width: 100%;

      &:first-of-type {
        border-top: 1px solid #e18298;
      }
    }
   
    &__link:hover {
        color: $vivid-pink;
      }
  }
}

.navigation {
  &__logo {
    
    margin-left: 46px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
  }
  &__item {
    font-family: $main-font;
    color: $white;
    font-size: $font-size-16;
    font-weight: bold;
    line-height: 21px;
  }
  &__link {
    color: $white;
    font-family: $main-font;
    font-size: $font-size-16;
    font-weight: bold;
    line-height: 21px;
    white-space: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $vivid-pink;
    }

    &--active {
      color: $vivid-pink;
    }
  }
}

.button {
  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 34px;
    margin-right: 115px;
    color: $vivid-pink;
    background-color: $white;
    font-family: $main-font;
    font-size: $font-size-16;
    font-weight: bold;
    cursor: pointer;
    gap: 12px;
    border-radius: 25px;
    border: none;
    white-space: nowrap;
    transition: background-color 250ms ease;

    &:hover,
    &:focus {
      background-color: #ECEBEB;
    }
  }
}

.noScroll {
  position: fixed;
  overflow: hidden;
}

.hide-for-desktop {
  display: flex;
}

.hide-for-mobile {
  display: none;
}

.hide-for-tablet {
  display: none;
}

@media screen and (min-width: 280px) {
  .navigation {
      &__logo {
        margin-right: auto;
        margin-left: 0px;
      }
    }
  
}

@media screen and (min-width: 480px) {
  .hide-for-mobile {
    display: flex;
  }
  .hamburger-lines {
    margin-right: 0;
  }
  .header__content {
    padding-top: 37px;
  }
}

@media screen and (min-width: 768px) {
  .navigation{
    &__logo {
      margin-right: auto;
      margin-left: 34px;
    }
  }
  .button__buy {
    margin-right: 34px;
  }

}

@media screen and (min-width: 970px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-tablet {
    display: flex;
  }

  .header__content {
    justify-content: space-between;
  }

  .navigation__logo {
    margin-right: 0;
  }
}

@media screen and (min-width: 970px) {
  .navigation {
    &__logo {

    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      list-style: none;
    }
    &__item {
      font-family: $main-font;
      color: $white;
      font-size: $font-size-16;
      font-weight: bold;
      line-height: 21px;
    }
    &__link {
      color: $white;
      font-family: $main-font;
      font-size: $font-size-16;
      font-weight: bold;
      line-height: 21px;
      white-space: nowrap;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
      &:hover,
      &:focus {
        color: $vivid-pink;
      }
 
      &--active {
        color: $vivid-pink;
      }
    }
  }
 
  .button {
    &__buy {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 34px;
      margin-right: 115px;
      color: $vivid-pink;
      background-color: $white;
      font-family: $main-font;
      font-size: $font-size-16;
      font-weight: bold;
      gap: 12px;
      border-radius: 25px;
      border: none;
      white-space: nowrap;
      transition: background-color 250ms ease;
 
      &:hover,
      &:focus {
        background-color: #ECEBEB;
      }
    }
  }
}



// Sekcja HERO

.hero {
  height: 502px;
  background-color: $icecream-pink;
  overflow: hidden;
  padding-top: 83px;
  &__content {
    position: relative;
    height: 100%;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 13px;
    font-family: $main-font;
    font-size: $font-size-08;
    font-weight: $font-weight-400;
    gap: 12px;
    border-radius: 25px;
    border: none;
    white-space: nowrap;
    transition: background-color 250ms ease;
    cursor: pointer;

    &--products {
      background-color: $vivid-pink;

      a {
        color: $white;
      }

      &:hover,
      &:focus {
        background-color: $crimson;
      }
    }
    &--about {
      background-color: $white;
      a {
        color: $vivid-pink;
      }
      &:hover,
      &:focus {
        background-color: #ECEBEB;
      }
    }
  }
}

.title__content__main {
  position: relative;
  z-index: 2;
  width: 350px;
  text-transform: uppercase;
  padding-top: 137px;
}

.hero__title {
  font-family: $head-font;
  font-size: $font-size-58;
  line-height: 52.49px;
  letter-spacing: $letter-spacing-4;
  color: $vivid-pink;
  width: 300px;
  padding-bottom: 20px;

  &--small {
    display: flex;
    width: 300px;
    font-family: $head-font;
    color: $white;
    letter-spacing: $letter-spacing-4;
    font-size: 38px;
    line-height: 43.51px;
  }
}

.hero__circle {
  position: absolute;
  top: 23px;
  margin-left: 18px;
  width: 346px;
  height: 344px;
  object-fit: cover;
}

.hero__ice-cream {
  position: absolute;
  width: 171px;
  height: 410px;
  top: 30px;
  margin-left: 98px;
}



@media screen and (min-width: 480px) {
  .hero__tasty {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .title__content__main {
        width: 162px;
        margin-top: 15px;
        margin-left: 34px;
      }
    
      .hero__title {
        font-size: 34px;
        line-height: 29px;
        letter-spacing: 0.06em;
      }
    
      .hero__title--small {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.06em;
        width: 162px;
      }
    
      .title__content__shops {
        position: absolute;
        right: 64px;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        gap: 12px;
        color: $white;
        font-family: $main-font;
    
        .title__content__shops__cafes {
          font-family: $main-font;
          font-size: $font-size-08;
          line-height: 18px;
          letter-spacing: normal;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: relative;
          margin-bottom: 18px;
    
          img {
            position: absolute;
            top: -9px;
            right: -7px;
            width: 16px;
            height: 16px;
          }
    
          .title__content__shops__cafes__nr {
            font-size: 28px;
            position: relative;
            color: $vivid-pink;
            font-family: $head-font;
            margin-bottom: 2px;
          }
        }
    
        .title__content__shops__foodTrucks {
          font-family: $main-font;
          font-size: $font-size-08;
          line-height: 18px;
          letter-spacing: normal;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: relative;
    
          img {
            position: absolute;
            top: -9px;
            right: -7px;
            width: 16px;
            height: 16px;
          }
    
          .title__content__shops__foodTrucks__nr {
            font-size: 28px;
            position: relative;
            color: $vivid-pink;
            font-family: $head-font;
            margin-bottom: 2px;
          }
        }
      }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 449px;
  }
  .title__content__main {
    padding-top: 15px;
  }
  .hero__ice-cream {
    width: 143px;
    height: 370px;
    top: -5px;
    right: 218px;
  }
  .hero__circle {
    width: 358px;
    height: 351px;
    right: 120px;
    top: -61px;
  }
  .hero__content {
    .hide-for-tablet {
      display: flex;
    }

  }
  .hero__description__bioeco {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: flex-end;
    bottom: 28px;
    left: 34px;
    padding-bottom: 28px;

    .bioeco__milk {
      width: 126px;
      height: 128px;
      margin-top: 0;
    }

    .bioeco__description {
      max-width: 114px;
      font-size: $font-size-08;
      line-height: 12px;
      display: flex;
      flex-direction: column;
      color: $white;
    }
    .bioeco__description__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: $white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .hero__tasty {
    margin-right: 14px;
  }
}




@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;

    &__btn {
      padding: 12px 20px;
    }
  }
  .hero__circle {
    width: 538px;
    height: 538px;
    right: 267px;
    top: -29px;

  }
  .hero__ice-cream {
    width: 236px;
    height: 557px;
    right: 450px;
    top: 25px;
  }
  .hero__tasty {
    height: 238px;
    width: 293px;
    margin-right: 89px;
  }
  .title__content__main {
    padding-top: 84px;
    padding-left: 115px;
    padding-bottom: 25px;
    width: 450px;
  }
  .hero__title {
    font-size: $font-size-58;
    width: 233px;
    line-height: 52.49px;
    letter-spacing: 0.06em;
  }
  .hero__title--small {
    font-size: 38px;
    line-height: 43.51px;
    letter-spacing: 0.06em;
  }
  .hero__btn {
    font-size: $font-size-14;
  }

  .hero__content {
    .title__content__shops {
      margin-top: 74px;
      margin-right: 97px;
      gap: 17px;
    }  
   
    .title__content__shops {
      position: absolute;
      right: 43px;
      top: 0;
      display: flex;
      flex-direction: column;
      padding-top: 24px;
      gap: 12px;
      color: $white;
      font-family: $main-font;

      .title__content__shops__cafes {
        font-family: $main-font;
        font-size: $font-size-14;
        line-height: 18px;
        letter-spacing: normal;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        margin-bottom: 38px;

        img {
          position: absolute;
          top: -19px;
          right: -17px;
          width: 30px;
          height: 30px;
        }

        .title__content__shops__cafes__nr {
          font-size: 46px;
          position: relative;
          color: $vivid-pink;
          font-family: $head-font;
          margin-bottom: 12px;
        }
      }

      .title__content__shops__foodTrucks {
        font-family: $main-font;
        font-size: $font-size-14;
        line-height: 18px;
        letter-spacing: normal;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
       
        img {
          position: absolute;
          top: -19px;
          right: -17px;
          width: 30px;
          height: 30px;
        }

        .title__content__shops__foodTrucks__nr {
          font-size: 46px;
          position: relative;
          color: $vivid-pink;
          font-family: $head-font;
          margin-bottom: 12px;
        }
      }
    }
  }

  .hero__description__bioeco {
    align-items: center;
    margin-left: 47px;
    padding-bottom: 45px;

    .bioeco__milk {
      width: 188px;
      height: 189px;
      margin-top: 56px;
      margin-right: 30px;
    }

    .bioeco__description {
      margin-top: 112px;
      max-width: 200px;
      font-family: $main-font;
      font-size: $font-size-14;
      line-height: 19.6px;
    }
    .bioeco__description__btn {
      margin-top: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }
}



