.products {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        &--photo {
            position: relative;
            margin-top: -113px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;

        &:first-child {
            background: $icecream-pink;
        }

        &:nth-child(2) {
            background: $icecoffee-brown;
        }

        &:last-child {
            background: $milkshakes-green;
        }
    }

    &__name {
        font-family: $head-font;
        font-weight: 400;
        font-size: 20px;
        line-height: $line-height-34_30;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $white;
        margin-top: 22px;
    }

    &__dot {
        cursor: pointer;
        height: 6px;
        width: 6px;
        margin: 0 4px;
        background-color: $white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    
        &:hover,
        &:focus {
            background-color: $vivid-pink;
        }
    
        &--container {
            text-align: center;
            margin-top: 30px;
            background: transparent;
        }
    }

    &__description {
        font-family: $main-font;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.04em;
        line-height: 152%;
        color: $white;
        margin: 30px 41px;
    }

    &__btn {
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        margin-bottom: 41px;
        border-radius: 50%;
        border: 1px solid transparent;

        transition-duration: 250ms;
        transition-timing-function: linear;

        &:hover,
        &:focus {
            border: 1px solid $vivid-pink;
        }
    }
}

@media screen and (max-width: 767px) {

    .products {
        &__item {
            &:not(:last-child) {
                margin-bottom: 130px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .products {

        &__label {
            font-size: 18px;
            line-height: $line-height-21_18;
        }
    
        &__title {
            font-size: 34px;
            line-height: $line-height-39_34;
            margin-top: 15px;
            margin-bottom: 144px;
        }

        &__description {
            margin: 30px 39px 30px 41px;
        }
    }
}

@media screen and (min-width: 768px) {

.products {
    &__list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            max-width: 1050px;
            margin: 0 auto;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

    .products {

        &__label {
            font-size: 26px;
            line-height: $line-height-30_26;
        }
        
            &__title {
            font-size: 48px;
            line-height: $line-height-55_48;
            margin-top: 15px;
            margin-bottom: 150px;
        }

        &__item {

            &:first-child {
                margin-right: 10px;
            }

            &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
            }

            &:last-child {
                margin-left: 10px;
            }
        }

        &__name {
            margin-top: 30px;
        }

        &__list--photo {
            margin-top: -111px;
        }

        &__description {
            margin-bottom: 40px;
        }

        &__btn {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .products {

        &__label {
            font-size: 30px;
            line-height: $line-height-34_30;
        }
    
        &__title {
            font-size: 58px;
            line-height: $line-height-66_58;
            margin-top: 15px;
            margin-bottom: 259px;
        }

        &__item {
        
                &:first-child {
                    margin-right: 15px;
                }
        
                &:nth-child(2) {
                    margin-left: 15px;
                    margin-right: 15px;
                }
        
                &:last-child {
                    margin-left: 15px;
                }
            }

        &__list--photo {
            margin-top: -210px;
        }

        &__name {
            margin-top: 38px;
        }

        &__dot--container {
            margin-top: 32px;
        }
    
        &__description {
            margin-bottom: 62px;
        }

        &__btn {
            margin-bottom: 50px;
        }
    }
}